.menuContainer {
  display: inline-block;
}

.menuButton {
  margin: 0.5em;
  width: 100%;
}

.newFinded {
  color: seagreen;
}

.finded {
  color: goldenrod;
}

.positive {
  color: seagreen;
}

.negative {
  color: crimson;
}